@font-face {
  font-family: 'GeosansLight';
  src: url('../fonts/GeosansLight.woff') format('woff'), 
       url('../fonts/GeosansLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
	font-family: 'GeosansLight','Source Sans Pro', sans-serif;
	font-weight: 400;
	color: #202020;
	font-size: 16px;
	position: relative;
	right: 0;
}

@media (min-width: 576px){}
	.modal-dialog {
	    max-width: 500px;
	    margin: 200px auto;
	}
}
img.icon{
  width: 26px;
}

.footer{
	background-color: #1d2023;
    padding: 80px 0 70px 0;
    color: #b6b6b6;
    overflow: visible;
}
/*===============================
=            Footer             =
===============================*/
.list-group-item{
	padding: 0.25rem 1.5rem;
	border:0px;
	background-color: #1d2023;
}
.list-group a{
	font-size: smaller;
}

footer .icon{
	width: 20px;
}